/*
    #       ####  
    #      #    # 
    #      #      
    #      #  ### 
    #      #    # 
    ######  ####  
*/
@media only screen and (max-width: 1024px) {
    .banner { 
        .banner-info { 
            min-width: 46%;
            .h1-wrap { 
                h1 { 
                    font-size: 60px;
                    line-height: 65px;
                    -webkit-text-stroke: 8px white; /* width and color */
                }
            }
        }
    }

    .section-2 { 
        .second-right { 
            img.pins { 
                max-width: 100%;
            }
        }
        .container-inner { 
            .second-left, .section-right { 
                min-width: auto;
            }
        }
    }

    .section-3 { 
        .title { 
            &::before { 
                left: 15%;
            }
        }
    }
    
    .btn-cta-3 {
        bottom: 200px;
    }
}
/*
    #    # #####  
    ##  ## #    # 
    # ## # #    # 
    #    # #    # 
    #    # #    # 
    #    # #####  
*/
.btn-cta-4.-mobile { 
    display: none;
}
.btn-cta-4.-desktop { 
    display: flex;
}
@media only screen and (max-width: 796px) {
    .btn-cta-4.-mobile { 
        display: flex;
    }
    .btn-cta-4.-desktop { 
        display: none;
    }
    .section-1 { 
        position: relative;
        padding-bottom:  500px;
        &::after { 
            content:'';
            position: absolute;
            height: 50px;
            width: 100%;
            left: 0;
            bottom: 0px;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        }
    }
    .btn-cta-1 { 
        margin: 10px auto 30px;
        width: 400px;
        max-width: 100%;
        height: 90px;
    }
    .banner { 
        height: auto;
        .banner-info {
            margin-top: 50px; 
            padding-left: 0px;
            min-width: 100%;
            position: relative;
            .h1-wrap { 
                display: flex;
                justify-content: center;
                h1 { 
                    font-size: 80px;
                    text-align: center;
                    line-height: 65px;
                    -webkit-text-stroke: 8px white; /* width and color */
                }
            }
            h3 {
                font-size: 70px;
                margin-top: 60px;
                text-align: center;
                text-shadow: none;
            }
        }
        .banner-line { 
            max-width: 450px;
            margin: 30px auto;
            display: block;
            img {
                width: 100%;
            }
           
        }
    }
    .floating { 
        position: absolute;
        padding-bottom: 90px;
    }

    .section-2 { 
        margin-top: 500px;
        .route { 
            width: 80%;
            top: 30%;
        }
        .container-inner { 
            flex-direction: column;
            .second-left {
                padding-left: 30px;
                padding-bottom: 0;
                max-width: 100%;
                img { 
                    width: 90px;
                    margin-left: 0px;
                    margin-top: -90px;
                    margin-bottom: 30px;
                }
            }
        }
        h2 { 
            font-size: 80px;
            line-height: 85px;
        }
        .second-right { 
            justify-content: flex-end;
            padding-left: 30px;
            margin-top: -60px;
            img.pins { 
                position: relative;
                z-index: 0;
                width: 40%;
                padding-right: 30px;
            }
            img.scooter { 
                width: 60%;
            }
        }
        .note { 
            padding: 30px;
            font-size: 40px;
        }
    }

    .section-3 { 
        padding-bottom: 90px;
        .line-top { 
            width: 140px;
            left: 60px;
        }
        .title { 
            justify-content: center;
            h1 { 
                line-height: 85px;
            }
            &::before { 
                left: 90%;
            }
        }
        .container-top { 
            img.milks { 
                margin-top: 130px;
            }
            .content { 
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
        }
        .container-bottom { 
            margin-top: -100px;
        }

        .line-bottom { 
            width: 180px;
            position: absolute;
            left:60%;
            top: -30px;
        }
        .content {
            align-items: flex-start;
            .left { 
                padding-top: 50px;
                padding-left: 16px;
                width: 100%;
            }
           
            img.people { 
                position: absolute;
                width: 350px;
                right: 0px;
                top: 100px;
            }
        }
    }

    .btn-cta-3 {
        position: relative;
        left: 0;
        bottom: 100px;
        width: 400px;
        max-width: 100%;
        height: 90px;
    }
    .btn-cta-4 {
        width: 400px;
        max-width: 100%;
        height: 90px;
        margin: 0 auto;
        z-index: 1;
        position: relative;
        text-align: center;
    }
}

@media only screen and (max-width: 670px) {

    .section-3 { 
        .content {
            position: relative;
            .right { 
                position: absolute;
                width: 302px;
                right: 0;
                top: 200px;
            }
            img.people { 
                position: relative;
                width: 100%;
                right: auto;
                top: auto;
            }
        }
        .coffee { 
            width: 300px;
            position: absolute;
            right: 0;
            bottom: 90px;
        }
    }
}
/*
     #####    ###     ###                 
    #     #  #   #   #   #  #####  #    # 
    #       #     # #     # #    #  #  #  
    ######  #     # #     # #    #   ##   
    #     # #     # #     # #####    ##   
    #     #  #   #   #   #  #       #  #  
     #####    ###     ###   #      #    # 
*/
@media only screen and (max-width: 600px) {
    .section-1 { 
        padding-bottom:  200px;
    }
    .banner { 
        .banner-info {
            .h1-wrap { 
                h1 { 
                    font-size: 60px;
                }
            }
            h3 {
                font-size: 40px;
            }
        }
        .banner-img{ 
            &.-mobile { 
                padding-left: 20px;
            }
        }
    }
    .section-2 { 
        margin-top: 600px;
        h2 { 
            font-size: 65px;
            line-height: 70px;
        }
        .note { 
            padding: 30px;
            font-size: 30px;
        }
    }
    .section-3 { 
        .title { 
            h1 { 
                font-size: 55px;
                line-height: 70px;
            }
            &::before { 
                left: 90%;
            }
        }
        .meji-text { 
            font-size: 70px;
        }
        .container-top { 
            img.milks { 
                margin-top: 130px;
            }
        }
        .container-bottom { 
            margin-top: 0px;
        }
        .content {
            .left { 
                h1 { 
                    font-size: 50px;
                    line-height: 55px;
                }
            }
        }
    }
    .btn-cta-3 {
        bottom: 30px;
        width: 250px;
        max-width: 100%;
        height: 70px;
    }
    .btn-cta-4 {
        width: 250px;
        max-width: 100%;
        height: 70px;
    }
}
/*
    #######   ###   #######               
    #        #   #  #       #####  #    # 
    #       #     # #       #    #  #  #  
    ######  #     # ######  #    #   ##   
          # #     #       # #####    ##   
    #     #  #   #  #     # #       #  #  
     #####    ###    #####  #      #    # 
*/
@media only screen and (max-width: 505px) {
    .section-1 { 
        padding-bottom:  0;
    }
    .banner { 
        .banner-info {
            .h1-wrap { 
                h1 { 
                    font-size: 40px;
                    line-height: 40px;
                }
            }
            h3 {
                margin-top: 30px;
            }
        }
    }
    .header { 
        .header-cta { 
            a{ 
                font-size: 25px;
                min-width: 200px;
                padding: 0 8px;
            }
        }
    } 
    .site-brand { 
        padding: 10px 16px;
        img { 
            max-width: 40px;
        }
    }
    .btn-cta-1 { 
        width: 250px;
        max-width: 100%;
        height: 70px;
    }
    .floating { 
        padding-bottom: 30px;
    }

    .section-2 { 
        margin-top: 450px;
        .route { 
            top: auto;
        }
        h2 { 
            font-size: 40px;
            line-height: 45px;
        }
        .note { 
            padding: 10px;
            font-size: 30px;
        }
        .container-inner { 
            .second-left {
                padding-left: 10px;
                img { 
                    width: 50px;
                }
            }
        }
        .second-right { 
            min-height: auto;
            margin-top: -10px;
        }
    }
    .section-3 { 
        .title { 
            h1 { 
                font-size: 50px;
                line-height: 55px;
            }
        }
        .meji-text { 
            font-size: 50px;
            span {
                -webkit-text-stroke: 7px white;
            }
        }
        .container-top { 
            img.milks { 
                margin-top: 150px;
            }
        }
    }
    .btn-cta-3 {
        bottom: 30px;
    }
}
/*
    #       #######   ###                 
    #    #  #        #   #  #####  #    # 
    #    #  #       #     # #    #  #  #  
    #    #  ######  #     # #    #   ##   
    #######       # #     # #####    ##   
         #  #     #  #   #  #       #  #  
         #   #####    ###   #      #    # 
*/
@media only screen and (max-width: 450px) {
    .section-2 { 
        min-height: auto;
        margin-top: 350px;
        padding-bottom: 10px;
    }
    .section-3 { 
        .line-bottom { 
            width: 100px;
            left: 40%;
        }
        .title { 
            &::before { 
                left: 90%;
                width: 30px;
                top: -30px;
            }
        }
        .content {
            .left { 
                padding-left: 0px;
                h1 { 
                    font-size: 50px;
                }
            }
        }
    }

}

@media only screen and (max-width: 400px) {
    .section-3 { 
        .title { 
            h1 { 
                font-size: 40px;
                line-height: 45px;
            }
        }
        .meji-text { 
            font-size: 40px;
        }
        .container-top { 
            img.milks { 
                margin-top: 60px;
                width: 90%;
            }
        }
        .container-bottom { 
            min-height: auto;
            margin-top: -220px;
        }
        .coffee { 
            width: 200px;
            bottom: 180px;
        }
        .content {
            .right { 
                width: 60%;
            }
            img.people { 
                width: 100%;
                z-index: 1;
            }
        }
    }
}

.hide-on-d {
    display: inherit !important;
    @media (min-width: 797px) {
        display: none !important;
    }
}
.hide-on-m {
    display: none !important;
    @media (min-width: 797px) {
        display: inherit !important;
    }
}